*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.content::after{
    content: "";
    display: table;
    clear: both;
}
.content {
    background-color:rgba(180, 208, 231, 1) ;
}
.list-inline li {
    list-style: none;
    display: inline-block;
}
body{
    font-family: 'Open Sans',sans-serif;
}
nav.content {
    background-color: white;
}
.left {
    width: 705px;
    float: left;
   
}
.right {
    display: inline;
    float: right;
    width: 700px;
}
.logo {
    margin-left: 100px;
    margin-top: 1rem;
    padding: 10px;
    height: 50px;
    display: inline-block;
}
.menu {
    margin-top: 20px;
    float: right;
}
.menu a {
    padding-left: 3rem;
    text-decoration: none;
    color: black; 
}
a.btn{
    background-color: rgba(0, 97, 255, 1);
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem ;
    margin-left: 3rem;
}
.titolo {
    font-size: 78px;
    padding: 4rem 9rem;
}
.text {
    height: 197px;
    width: 392px;
    line-height: 1.5;
    display: inline-block;
    margin-left: 150px;
}
a.btn2 {
    background-color: rgba(0, 97, 255, 1);
    border-color: transparent;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    text-align: center;
    font-size: 15px;
    width: 206px;
    display: inline-block;
    margin-top: 2rem;
}
.stop {
    padding-top: 0.5rem;
    font-size: 12px;
}
.freccia{
    font-size: 40px;
    margin-top: 3rem;
}
.img {
    float: right;
    height: 590px;
    margin-right: 150px;
    width: 55%;
    background-image: url(../img/jumbo\ \(1\).png);
    background-size: cover;
}
.site_main{
    position: relative;
}
.tariffe{
    height: 1500px;
    width: 2000px;
    position: absolute;
  
}
.tariffe h1 {
    padding-top: 6rem;
    margin-left: 342px;
    font-size: 38px;
}
.box-1 {
    height: 900px;
    width: 300px;
    border-style: solid;
    border-color: #bdbabad4;
    border-width: 2px;
    float: left;
    margin-left: 346px;
    margin-top: 90px;
}
.box-3 {
    height: 900px;
    width: 300px;
    float: right;
    border-style: solid;
    border-color: #bdbabad4;
    border-width: 2px;
    margin-right: 334px;
    margin-top: 90px;
}
.box-2{
    height: 900px;
    width: 300px;
    border-style: solid;
    border-color: #bdbabad4;
    border-width: 2px;
    margin-top: 90px;
    margin-left: 212px;
    display: inline-block;
}
.box-4 {
    height: 230px;
    width: 1326px;
    border-style: solid;
    border-color: #bdbabad4;
    border-width: 2px;
    position: absolute;
    top: 77%;
    left: 17%;
}
.ceck {
    height: 50px;
    width: 400px;
    padding-top: 2rem;
    position: absolute;
    left: 17%;
}
.cerchio1{
    height: 15px;
    width: 15px;
    position: absolute;
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(0, 97, 255, 1);
    
}
.mesi{
    font-size: 11px;
    position: absolute;
    left: 18px;
}
.cerchio2 {
    height: 15px;
    width: 15px;
    position: absolute;
    left: 200px;
    border-radius: 20px;
    border-style: solid;
    border-width: thin;
    border-color: grey
}
.anno{
    font-size: 11px;
    position: absolute;
    left: 219px;
}
.piano {
    text-align: center;
    padding: 0.5rem;
}
.fa-pencil{
    font-size: 10px;
}
.box-1 h2 {
    padding: 1rem;
}
.box-1 p {
    padding: 1rem; 
    font-size: 11px;
}
.specifiche {
    color: rgba(128, 128, 128, 0.589);
    padding-top:0.5rem ;
}
.prova {
    text-decoration: none;
    color: white;
    background-color:rgba(0, 97, 255, 1); 
    padding: 10px 15px;
    border-color: transparent;
    margin-left: 40px;
    margin-top: 40px;

}
.acquista {
   color: rgba(0, 97, 255, 1); 
}
.separa {
    width: 50px;
    margin-left: 20px;
    margin-top: 2rem;
    color: rgba(128, 128, 128, 0.541);
}
.box-1 h4 {
    padding: 2rem;
}
.fa-check {
    color: rgba(0, 97, 255, 1); 
}

.box-2 h2 {
    padding: 1rem;
}
.box-2 p {
    padding: 1rem; 
    font-size: 11px;
}
.box-2 h4 {
    padding: 2rem;
}
.box-3 h2 {
    padding: 1rem;
}
.box-3 p {
    padding: 1rem; 
    font-size: 11px;
}
.box-3 h4 {
    padding: 2rem;
}
.box-4 h2  {
    padding: 1rem;
}
.box-4 h5 {
    padding: 1rem;
}
.soluzioni {
    padding: 1rem;
}