*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
body{
    font-family: 'Open Sans',sans-serif;
}
/*hearder*/
.content {
    background-color:rgba(180, 208, 231, 1) ;
}
.list-inline li {
    list-style: none;
    display: inline-block;
}
.site_header {
    padding: 20px;
}
.nav {
    width: 50%;
    float: left; 
    background-color: white;
}
.nav.right {
    text-align: right;
    padding-top: 14px;
    padding-bottom: 14px;
}
.lista {
    display: inline-block;
    vertical-align: middle;
}
.logo {
    height: 50px;
    width: auto;
    display: inline-block;
    vertical-align: middle;
}
.list-inline a {
    padding-left: 3rem;
    text-decoration: none;
    color: black; 
}

/*main prima sezione*/

.content {
    padding: 3rem ;
}
a.btn{
    background-color: rgba(0, 97, 255, 1);
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem ;
    margin-left: 3rem;
}
.titolo {
    font-size: 78px;
}
.text {
    width: 20%;
    line-height: 1.5;
    display: inline-block;
    margin-top: 50px;
}
.jumbo {
    position: absolute;
    width: 50%;
    bottom: -100px;
    right: 10rem;
}
a.btn2 {
    background-color: rgba(0, 97, 255, 1);
    border-color: transparent;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    text-align: center;
    font-size: 15px;
    width: 206px;
    display: inline-block;
    margin-top: 2rem;
}
.stop {
    margin-top: 0.5rem;
    font-size: 12px;
}
.freccia{
    font-size: 40px;
    margin-top: 3rem;
}
/*main seconda sezione */
.tariffe {
    padding: 200px 200px 0px;
}
.tariffe h1 {
    font-size: 38px;
    margin-bottom: 2rem;
}
.box-1 {
    width: 30%;
    border-style: solid;
    border-color: #bdbabad4;
    border-width: 2px;
    float: left;
    margin-top: 111px;
    margin-right: 5rem;
}
.box-3 {
    width: 30%;
    float: right;
    border-style: solid;
    border-color: #bdbabad4;
    border-width: 2px;
    margin-top: 111px;
}
.box-2{
    width: 30%;
    border-style: solid;
    border-color: #bdbabad4;
    border-width: 2px;
    margin-top: 90px;
    display: inline-block;
}
.box-4 {
    width: 100%;
    border-style: solid;
    border-color: #bdbabad4;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-width: 2px;
    float: left;
   
}
.info {
    width: 80%;
}
.contatto {
    width: 20%;
    float: right;
    margin-top: -120px;
    background-color: rgba(0, 97, 255, 1);
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin-right: 1rem;
}

.mesi{
    font-size: 11px;
    position: absolute;
    left: 18px;
}

.anno{
    font-size: 11px;
    position: absolute;
    left: 219px;
}
.piano {
    text-align: center;
    padding: 0.5rem;
}
.fa-pencil{
    font-size: 10px;
}
.box-1 h2 {
    padding: 1rem;
}
.box-1 p {
    padding: 1rem; 
    font-size: 11px;
}
.specifiche {
    color: rgba(128, 128, 128, 0.589);
    margin-top: -27px;
}
.fa-building{
    padding-right: 6px;
}
.fa-user{
    padding-right: 6px;
}
.prova {
    text-decoration: none;
    color: white;
    background-color: rgba(0, 97, 255, 1);
    padding: 6px 80px;
    border-color: transparent;
    margin-left: 46px;
    width: 15%;
}
.acquista {
   color: rgba(0, 97, 255, 1); 
}
.separa {
    width: 50px;
    margin-left: 20px;
    margin-top: 2rem;
    color: rgba(128, 128, 128, 0.541);
}
.box-1 h4 {
    padding: 2rem;
}
.fa-check {
    color: rgba(0, 97, 255, 1); 
}
.box-2 h2 {
    padding: 1rem;
}
.box-2 p {
    padding: 1rem; 
    font-size: 11px;
}
.box-2 h4 {
    padding: 2rem;
}
.box-3 h2 {
    padding: 1rem;
}
.box-3 p {
    padding: 1rem; 
    font-size: 11px;
}
.box-3 h4 {
    padding: 2rem;
}
.box-4 h2  {
    padding: 1rem;
}
.box-4 h5 {
    padding: 1rem;
}
.soluzioni {
    padding: 1rem;
}

/*main terza sezione */
.sezione3 {
    padding: 20px 200px 0px;
}

.testo {
    width: 40%;
    float: right;
    padding: 4rem;
}
.testo h3 {
    margin-bottom: 1rem;
    font-size: 24px;
}
.testo p {
    margin-bottom: 2rem;
    font-size: 15px;
}
.partener {
    width: 60%;
}
.btn5 {
    border: solid;
    padding: 5px;
    color: rgb(111 105 105);
    text-decoration: none;
    border-width: 2px;
}

/*main quarta sezione*/

.sezione4 {
    padding: 90px 200px 2rem;

}
.card-1 {
    width: 30%;
    float: left;
    margin-right: 4rem;
}
.img1 {
    width: 100%;
}
.card-3 {
    width: 30%;
    float: right;
}
.card-2 {
    width: 30%;
    float: left;
}
.p1{
    font-size: 15px;
    margin-top: 1rem;
}
.tit4 {
    font-size: 20px;

}
.card-4 {
    margin-top: 1rem;
    margin-bottom: 200px;
    width: 30%;
    float: left;
    margin-right: 4rem;
}
.card-5 {
    margin-top: 1rem;
    margin-bottom: 200px;
    width: 30%;
    float: left;
}
.card-6 {
    margin-top: 1rem;
    margin-bottom: 200px;
    width: 30%;
    float: right;
}
/*main quinta parte*/
.sezione5 {
    padding: 90px 200px 2rem;
}
.tit7 {
    font-size: 55px;
}
/*main sesta parte*/
.sinistra {
    width: 30%;
    float: left;
    
}
.logo1{
    height: 200px;
    width: 50%;
    float: right;
    background-color: rgba(97, 8, 43, 1);
}
.logo2 {
    height: 200px;
    width: 50%;
    float: left;
    border: solid rgba(208, 233, 205, 1);
    background-color: rgba(162, 211, 155, 1);
}
.logo3{
    height: 200px;
    width: 50%;
    float: left;
    background-color: rgba(0, 147, 206, 1);
}
.logo4 {
    height: 200px;
    width: 50%;
    float: right;
    background-color: rgba(255, 28, 28, 1);
}
.centro{
    width: 40%;
    float: left;
    background-color: rgba(245, 245, 245, 1);
    
}
.logo5 {
    width: 30%;
    margin: 2rem;
}
.line {
    width: 50px;
    color: rgba(0, 0, 0, 0.459);
    margin-left: 3rem;
}
.centro p {
    margin: 3rem;
}
.destra {
    width: 30%;
    float: left;
}
.logo6{
    height: 200px;
    width: 50%;
    float: left;
    background-color: rgba(213, 0, 31, 1);
}
.logo7 {
    height: 200px;
    width: 50%;
    float: right;
    background-color: rgba(180, 208, 231, 1);
}
.logo8 {
    height: 200px;
    width: 50%;
    float: left;
    background-color: rgba(13, 36, 129, 1);
}
.logo9 {
    height: 200px;
    width: 50%;
    float: right;
    background-color: rgba(255, 216, 48, 1);
}
/*main settima parte*/
.sotto {
    width: 100%;
    background-color: rgba(180, 208, 231, 1);
}
.publicità {
    width: 80%;
    color: rgba(97, 8, 43, 1);
    font-size: 40px;
    margin-left: 200px;
    padding-top: 32rem;
    padding-bottom: 5rem;

}
.btn8 {
    width: 20%;
    float: right;
    padding: 10px;
    margin-right: 1rem;
    margin-top: -150px;
    background-color: white;
    text-decoration: none;
    color: black;
    text-align: center;

}
/*main ottava parte */
.sezione8 {
    padding: 90px 200px 8rem;
}
.domande {
    font-size: 30px;
    margin-bottom: 2rem;
}
.dom {
    margin-bottom: 2rem;
}
.separatore {
    width: 100%;
    margin-bottom: 2rem;
}
.fa-angle-down {
    float: right;
    margin-top: -1rem;
}

/*footer*/
.site_footer {
    width: 100%;
    padding: 4rem;
    background-color: black;
}
.dropbox {
    width: 20%;
    float: left;
    display: inline-block;
}
.cat {
    color: white;
    margin-bottom: 1rem;
}
.list li{
    list-style: none;
    margin-bottom: 5px;
    color: white;
}

.prodotti {
    width: 20%;
    float: left;
}
.azienda {
    width: 20%;
    display: inline-block;
}
.supporto {
    width: 20%;
    float: right;
}
.community {
    width: 20%;
    float: right;
}
.sep {
    width: 130px;
    margin-top: 80px;
}
.lingua {
    margin-top: 2rem;
    color: rgba(255, 255, 255, 0.466);
}
.fa-globe-americas {
    margin-right: 5px;
}
